## RAILS IGNORE
# Ignore bundler config.
server/.bundle

# Ignore the default SQLite database.
server/db/*.sqlite3
server/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
server/log/*
server/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
server/storage/*
!/storage/.keep
server/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
server/config/master.key

# Other
/*/node_modules
*/node_modules
/node_modules

